body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: #878686;
    padding: 0 50px;
    min-width: 300px;
}

@media (max-width: 500px) {
    body {
        padding: 0 30px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 30px;
    width: 100%;
}

.header__container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__link {
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
}

.header__link_mob {
    display: none;
}

h1:hover {
    color: #3a3a3a;
    transition: all 0.3s ease;
}


.preloader {
    color: #3a3a3a;
    font-size: 2.5em;
    font-weight: bolder;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

img {
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main__input {
    transition: all 0.5s ease-out;
    resize: none;
    border-radius: 50px;
    background: #272626;
    padding: 30px;
    border: none;
    color: #c4c4c4;
    outline: none;
    overflow: auto;
    font-size: 17px;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin-bottom: 15px;
    position: relative;

}

.main__input::placeholder {
    color: #878686;
}

.main__input::-webkit-scrollbar,
.table__container::-webkit-scrollbar {
    width: 0; /* Скрываем стандартный скроллбар WebKit (Chrome, Safari, Opera) */
}

/* Добавьте стили для скроллбара для других браузеров (Firefox, Edge) */
.main__input::-moz-scrollbar,
.table__container::-moz-scrollbar {
    width: 0;
}

.main__button {
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    width: auto;
    font-weight: 600;
    color: #aaaaaa;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-out;
}

.main__button:hover {
    opacity: 0.5;
}

.words_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.table__container_out {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-appearance: none;

}

.table__container {
    max-width: 700px;
    max-height: 50vh; /* Здесь вы можете задать желаемую высоту контейнера */
    position: relative;
    overflow-y: auto;
    border: 1px solid #3a3a3a;
    -webkit-appearance: none;

}

tbody {
    max-height: 380px;
    -webkit-appearance: none;

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #3a3a3a;
    -webkit-appearance: none;

}

th,
td {
    border: 1px solid #3a3a3a;
    padding: 8px;
    text-align: left;
    -webkit-appearance: none;

}

thead tr {
    -webkit-appearance: none;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    background-color: #212121;
    top: 0px;
    z-index: 10;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px #3a3a3a;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px #3a3a3a;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px -5px 5px #3a3a3a;

    border-top: 1px solid #fff;
}


@media (max-width: 500px) {
    
    .header__link_mob{
        display: block;
    }

    .header__link {
        display: none;
    }

    main {
        margin-top: 50px;
    }

    .table__container {
        max-height: 55vh;
    }

    .main__input {
        border-radius: 20px;
    }

}