body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: #878686;
    padding: 0 50px;
    min-width: 300px;
}

@media(max-width: 500px) {
  body {
    padding: 0 30px;
  }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 30px;
}

.header__link {
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__link:hover {
    color: #3a3a3a;
    transition: all 0.3s ease;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main__input {
    transition: all 0.5s ease-out;
    resize: none;
    border-radius: 50px;
    background: #272626;
    padding: 30px;
    border: none;
    color: #c4c4c4;
    outline: none;
    overflow: auto;
    font-size: 17px;
    width: 100%;
    max-width: 800px;
    height: 400px;
}

.main__input::placeholder {
    color: #878686;
}

.main__input::-webkit-scrollbar, .main__input::-webkit-scrollbar{
    width: 0; /* Скрываем стандартный скроллбар WebKit (Chrome, Safari, Opera) */
}

/* Добавьте стили для скроллбара для других браузеров (Firefox, Edge) */
.main__input::-moz-scrollbar, .main__input::-moz-scrollbar {
    width: 0;
}

.processBtn {
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-out;
    margin-top: 15px;
}

.processBtn:hover {
  opacity: 0.5;
}

.words_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.words_info button {
    width: auto;
}